<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "Closet.jpg" %>
		
		<%= image_tag "Closet.jpg" %>
	</div>

	<div id="content">
		<h1>The Aim</h1>
		
		
	</div>
	<p>Clothing-rack was created to be first and foremost a platform to promote
	independent vintage boutiques and labels. With a central, consistently updated
	curated database it allows users to get a refined look at what stores might be worth 
	checking out. There is a consistent problem in other fashion directories where it's difficult to 
	filter down search results for the stores that are listed in them. Users have no idea what
	the stores are about, apart from a possible interpretation from the image and name listed; there is
	no other information present until you click through and check out, which isn't time-efficient.
	
	We want to simplify the process of searching for new styles and clothes, by being the link between the actual store
	page and the user.
	
	
	We also want to create a communal aspect, with blog posts about new stores added to the database, current trends
	in fashion and miscellanious points of interest. Users can 
	</p>
	<p>There is a thing</p>
</div>