<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "Closet.jpg" %>
		
		<%= image_tag "vintcloth.jpg" %>
	</div>

	<div id="content">
		<h1>The Aim</h1>
		
		
	</div>
	<p>Clothing-rack was created to be first and foremost a platform to promote <br>
	independent vintage boutiques and labels. With a central, constantly<br> changing and updated
	curated database it allows users to get a refined<br> look at what stores might be worth 
	checking out. We want to simplify<br> the process of searching for new labels and stores, by being the link<br> between the actual store
	page and the user. 
	We also want to create a <br> communal aspect, with blog posts about new stores added to the database, <br> current trends
	in fashion and miscellanious points of interest. Users can <br> comment via an anonymous system to add to the discussion or give
	their own <br> experience of a store.
	</p>

</div>