<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "Closet.jpg" %>
		
		<%= image_tag "Closet.jpg" %>
	</div>

	<div id="content">
		<h1>What is the aim</h1>
		
		
	</div>
	<p>Clothing-rack is an answer to an issue within fashion directories.<br>
	This issue is highlighted when you access
	</p>
	<p>There is a thing</p>
</div>